name: Autograding
on: [push]

jobs:
  autograde:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout student code
        uses: actions/checkout@v4

      - name: Run GitHub Classroom Autograder
        uses: classroom-resources/autograding-python@v1
        with:
          python-version: "3.10"

